body {
    background-color: #BEF0FE;
}

#shiba {
    text-align: center;
}

#poster-container {
    position: relative;
    width: 100%;
    height: 50vw;
    border: 48px solid black;
    margin: 2px solid black;
}

#download {
    margin: 20px 0px solid ;
    
}

#quote {
    overflow: hidden;
}

.full-quote {
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 3.5vw;
    color: white;
    text-shadow: black 3px 3px 3px;
}

.full-author {
    color: white;
    text-shadow: black 3px 3px 3px;
    padding-top: 20px;
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 1.25vw;
}


#btn-container {
    padding: 40px;
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
}

#options-container {
    padding-top: 5rem;
    margin-bottom: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
}

#options {
    padding: 0 0.75rem;
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
}

#random-btn {
    margin: 8px 0;
    width: 100%;
}

#customize-btn {
    margin: 8px 0;
    width: 100%;
}

#download-btn {
    margin: 8px 0;
    width: 100%;
}

#generate-customized {
    margin: 8px 0;
    width: 100%;
}

#change-font, #generate-image, #generate-quote {
    margin: 10px 0;
    width: 80%;
}

.container {
    background-color: #BEF0FE;
}

.card {
    padding: 0px;
}

.modal { 
    max-height: 100%; 
    overflow: visible;
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
}

.poster {
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}
  
header {
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
}

.logo{
    width: 50px;
    height: 50px;
    margin-top: 8px;
}
 
.dropdown-content li>a, .dropdown-content li>span {
    color: #ff9800;
}

.options {
    text-align: center !important;
}

.collapsible-header {
    display: block;
}

.collapsible-header i {
    height: 1.75em;
    line-height: 1.75em;
    color: white;
}

.collapsible-body {
    background: #fff;
}

.float {
    transform: translatey(0);
    animation: float 1.8s ease-in-out infinite;
}

@keyframes float {
    0%,100% {
        transform: translatey(0)
    }

    45% {
        transform: translatey(-15px)
    }
}

.shadow {
    display: block;
    width: 20%;
    height: 6px;
    margin: 9px auto 40px;
    border-radius: 6px;
    background: rgba(0,0,0,.1);
    animation: shadow 1.8s ease-in-out infinite;
}

@keyframes shadow {
    0%,100% {
        width: 12%
    }

    45% {
        width: 5%
    }
}

.top-center {
    position: absolute;
    top: 0;
}

.bottom-center {
    position: absolute;
    bottom: 0;
}

.top-left {
    position: absolute;
}

.center-left {
    position: absolute;
}

.bottom-left {
    position: absolute;
}

.top-right {
    position: absolute;
}

.center-right {
    position: absolute;
}

.bottom-right {
    position: absolute;
}

.carousel {
    height: 50vh;
    perspective: 1400px;
}